@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Lora');

@font-face {
  font-family: 'amigosregular';
  src: url('../fonts/amigos-webfont.woff2') format('woff2'),
  url('../fonts/amigos-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stylishregular';
  src: url('../fonts/stylish-regular-webfont.woff2') format('woff2'),
  url('../fonts/stylish-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-header: 'amigosregular', serif;
$font-menu: 'stylishregular', serif;
$font-kaushan: 'Kaushan Script', cursive;
$font-dosis: 'Dosis', sans-serif;
$font-lora: 'Lora', serif;

$shadow: 2px 2px 3px rgba(0, 0, 0, .6);


// Colors
$white: #fff;
$color-header: #f5d287;