* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
}

.bgImage {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/eat-2378726_1920.jpg");
  background-size: cover;
  filter: sepia(1);
  -webkit-filter: sepia(1);
  z-index: -1;
}

.active {
  border: 2px solid red;
}
